# Laboratory 9

### Imports

In [ ]:
import random
import string
import datetime

import mysql.connector

### Task 1

გააკეთეთ myML ბაზა.

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE myML")

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="myml"
)

mycursor = mydb.cursor()

### Task 2

myML ბაზაში დაამატეთ ცხრილი persons განვსაზღვროთ 8 ველი:
1) Id [int autoincrement]
2) Name [varchar(30)]
3) Lastname [varchar(30)]
4) Date [data]
5) Gender [varchar(20)]
6) Nationality[varchar(50)]
7) Smoker [varchar(20)]
8) Children[int]
9) Reg_Date [data]
10) Email[varchar(30)]
11) Password [varchar(50)]

In [ ]:
sql = """
CREATE TABLE persons (
    id INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(30),
    Lastname VARCHAR(30),
    Date DATE,
    Gender VARCHAR(20),
    Nationality VARCHAR(50),
    Smoker VARCHAR(20),
    Children INT,
    Reg_Date DATE,
    Email VARCHAR(30),
    Password VARCHAR(50)
)
"""
mycursor.execute(sql)

### Task 3

persons ცხრილში გააკეთეთ N = 5 000 შემთხვევითი ჩანაწერი ფუნქციის საშუალებით, N წარმოადგენს ფუნქციის
პარამეტრს.
1) Id - უნიკალური
2) Name - შემთხვევითი სტრიქონი , რომელიც შეიცავს 5-დან 20 სიმბოლომდე
3) Lastname - შემთხვევითი სტრიქონი , რომელიც შეიცავს 5-დან 20 სიმბოლომდე.
4) Date [data] - შემთხვევითი თარიღი 1980-დან 2000 წლამდე ან ცარიელი.
5) Gender [varchar(20)] - შემთხვევითი male ან famale ან ცარიელი.
6) Nationality[varchar(50)] - შემთხვევით georgian, armenian, azerbaijanian.
7) Smoker [varchar(20)] - შემთხვევით yes ან no ან ცარიელი.
8) Children[int] - შემთხვევით 1, 2, 3, 4, 5, 6, 7, 8, 9 ან ცარიელი, ან other.
9) Reg_Date [data] - შემთხვევითი თარიღი 2018-დან 2020 წლამდე ან ცარიელი.
10) Email[varchar(30)] - შემთხვევითი ფოსტა(ბოლოვდება @gmail.com ან @yahoo.com ან @mail.ru) დასაწყისში
შეიცავს 5-დან 20 სიმბოლომდე ან ცარიელი.
11) Password [varchar(50)] - - შემთხვევითი სტრიქონი, რომელიც მინიმუმ ერთ ციფრს და შედგება 8-დან 20
სიმბოლომდე.

In [ ]:
mycursor.reset()

def random_date():
    start = datetime.datetime.strptime("01-01-1880", '%d-%m-%Y')
    end = datetime.datetime.strptime('01-01-2000', '%d-%m-%Y')
    date = start + datetime.timedelta(seconds=random.randint(0, int((end - start).total_seconds())),)
    return date


def seed_persons(N = 5):
    for _ in range(N):
        name = "".join(random.choices(string.ascii_letters, k=random.randint(5, 20)))
        lastname = "".join(random.choices(string.ascii_letters, k=random.randint(5, 20)))
        date = random_date()
        gender = random.choice(["female", "male", ""])
        nationality = random.choice(["georgian", "armenian", "azerbaijanian"])
        smoker = random.choice(["yes", "no", ""])
        children = random.choice([*range(1, 10), ""])
        reg_date = random_date()
        email = "".join(random.choices(string.ascii_letters, k=random.randint(5, 20))) + random.choice(["@gmail.com", "@yahoo.com", "@mail.ru"])
        password = "".join(random.choices(string.ascii_letters, k=random.randint(8, 15))) + "".join(random.choices(["0", "1", "2", "3", "4", "5", "6", "7", "8", "0"], k=random.randint(1, 5)))
        
        sql = """INSERT INTO persons 
                (Name, LastName, Date, Gender, Nationality, Smoker, Children, Reg_Date, Email, Password) 
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
        val = (name, lastname, date, gender, nationality, smoker, children, reg_date, email, password)
        mycursor.execute(sql, val)
        mydb.commit()


seed_persons()

### Task 4

დაამუშავეთ persons ცხრილიდან ქვემოთ მოცემული მოთხოვნები, თითოეული მოთხოვნისთვის დაწერეთ ფუნქციები:
1) persons ცხრილიდან გამოიტანეთ პირველი 3 ჩანაწერის Date, Reg_Date, Gender ველების მნიშვნელობა.

2) persons ცხრილიდან გამოიტანეთ პირველი 2 ჩანაწერის ყველა ველის მნიშვნელობა.
3) persons ცხრილიდან გამოიტანეთ იმ ჩანაწერების ყველა ველის მნიშვნელობა რომელთა id&gt;1 და id&lt;4.
4) persons ცხრილიდან გამოიტანეთ იმ ჩანაწერების ყველა ველის მნიშვნელობა რომელთა id&lt;2 ან Id&gt;=4.
5) persons ცხრილიდან გამოიტანეთ იმ ჩანაწერის ყველა ველის მნიშვნელობა რომლის Date = 1984-07-04.
6) persons ცხრილიდან გამოიტანეთ იმ ჩანაწერების ყველა ველის მნიშვნელობა რომელთა Date &gt; 1984-07-04.
7) persons ცხრილიდან გამოიტანეთ იმ ჩანაწერების ყველა ველის მნიშვნელობა რომელთა Date &gt; 1990-06-04 და Date &lt;
1999-07-04.
8) persons ცხრილიდან გამოიტანეთ იმ ჩანაწერების ყველა ველის მნიშვნელობა რომელთა Children=&gt; 3 და Children &lt; =7.

In [ ]:
def subtask_1():
    sql = "SELECT Date, Reg_Date, Gender FROM persons LIMIT 3"
    mycursor.execute(sql)
    persons = mycursor.fetchall()
    return persons


def subtask_2():
    sql = "SELECT * FROM persons LIMIT 2"
    mycursor.execute(sql)
    persons = mycursor.fetchall()
    return persons


def subtask_3():
    sql = "SELECT * FROM persons WHERE id>1 AND id<4"
    mycursor.execute(sql)
    persons = mycursor.fetchall()
    return persons


def subtask_4():
    sql = "SELECT * FROM persons WHERE id<2 OR id>=4"
    mycursor.execute(sql)
    persons = mycursor.fetchall()
    return persons


def subtask_5():
    sql = "SELECT * FROM persons WHERE Date='1984-07-04'"
    mycursor.execute(sql)
    persons = mycursor.fetchall()
    return persons

def subtask_6():
    sql = "SELECT * FROM persons WHERE Date='1984-07-04'"
    mycursor.execute(sql)
    persons = mycursor.fetchall()
    return persons


def subtask_7():
    sql = "SELECT * FROM persons WHERE Date>'1990-06-04' AND Date<'1999-07-04'"
    mycursor.execute(sql)
    persons = mycursor.fetchall()
    return persons


def subtask_8():
    sql = "SELECT * FROM persons WHERE Children>=3 AND Children<=7"
    mycursor.execute(sql)
    persons = mycursor.fetchall()
    return persons