# Laboratory 6

In [258]:
import numpy as np
import pandas as pd

import string

ALPHABET = np.array(list(string.ascii_lowercase + string.ascii_uppercase))

### Task 1

ჩაწერეთ data.xlsx ექსელის ფაილის „sheetOne“ ფურცელზე 100 მონაცემი (100 სტრიქონი).
- პირველ სვეტში ჩაწერეთ ათი სიმბოლოსგან შემდგარი შემთხვევითი სტრიქონი;
- მეორე სვეტში ჩაწერეთ შემთხვევითი რიცხვები [0, 10] შუალედიდან;
- მესამე სვეტში ჩაწერეთ შემთხვევითი რიცხვები [1, 7] შუალედიდან;
- მეოთხე სვეტში ჩაწერეთ შემთხვევითი განსხვავებული რიცხვები [1, 100] შუალედიდან.

In [259]:
dt = {
    'rand_string': [''.join(np.random.choice(ALPHABET, size=10)) for _ in range(100)],
    'rand_1_10': np.random.randint(0, 11, size=100),
    'rand_1_7': np.random.randint(1, 8, size=100),
    'rand_unique': np.random.choice(100, size=100, replace=False)
}

data = pd.DataFrame(data=dt)
data.to_excel('datasets/data.xlsx', sheet_name="sheetOne", index=False)

### Task 2

დაამატეთ data.xlsx ექსელის ფაილის „sheetTwo“ ფურცელზე 50 მონაცემი (50 სტრიქონი).
- პირველ სვეტში ჩაწერეთ განსხვავებული რიცხვები [1, 100] შუალედიდან.
- მეორე სვეტში ჩაწერეთ შემთხვევით სახელები (სახელი შეარჩიეთ წინასწარ გასზაღვრული მასივიდან);
- მესამე სვეტში ჩაწერეთ შემთხვევით გვარები (გვარი შეარჩიეთ წინასწარ გასზაღვრული მასივიდან);
- მეოთხე სვეტში ჩაწერეთ შემთხვევითი რიცხვები [2000, 5000] შუალედიდან.

In [260]:
fn = np.array(["Abraham", "George", "Richard", "John", "Franklin", "Theodore"])
ln = np.array(["Lincoln", "Washington", "Nixon", "Adams", "Roosevelt", "Roosevelt"])

dt = {
    'rand_unique': np.random.choice(100, size=50, replace=False),
    'first_name': np.random.choice(fn, size=50),
    'last_name': np.random.choice(ln, size=50),
    'rand_2000_5000': np.random.randint(2000, 5000+1, size=50),
}

data = pd.DataFrame(data=dt)
with pd.ExcelWriter("datasets/data.xlsx", engine="openpyxl", mode="a") as writer:
    data.to_excel(writer, sheet_name="sheetTwo", index=False)

### Task 3

წაიკითხეთ data.xlsx ექსელის ფაილის ყველა ფურცელი და გადაწერეთ მონაცემები datanew.xlsx ფაილში.

In [261]:
sheet1 = pd.read_excel("datasets/data.xlsx", sheet_name="sheetOne")
sheet2 = pd.read_excel("datasets/data.xlsx", sheet_name="sheetTwo")

datanew = pd.concat([sheet1, sheet2], axis=1)
datanew.to_excel("datasets/datanew.xlsx", index=False)

### Task 4

წაიკითხეთ data.xlsx ექსელის ფაილის „sheetOne“  ფურცლიდან მონაცემები იპოვეთ პირველ სვეტში ჩაწერილი სტრიქონებიდან რომელი შეიცავს სიმბოლო ‘a’-ის და გადაწერეთ datanew.xlsx ფაილის “sheet3” ფურცელში.

In [262]:
sheet1 = pd.read_excel("datasets/data.xlsx", sheet_name="sheetOne")

sheet3 = sheet1[sheet1.rand_string.str.contains('a')]
with pd.ExcelWriter("datasets/datanew.xlsx", engine="openpyxl", mode="a") as writer:
    sheet3.to_excel(writer, sheet_name="sheet3", index=False)

### Task 5

data.xlsx ექსელის ფაილის „sheetTwo“  ფურცელიდან წაიკითხეთ მეოთხე სვეტში ჩაწერილი მონაცემები, იპოვეთ ყველაზე დიდი რიცხვების მქონე ჩანაწერები და გადაწერეთ datanew.xlsx ფაილის “sheet4” ფურცელში.

In [263]:
sheet2 = pd.read_excel("datasets/data.xlsx", sheet_name="sheetTwo")
sheet2[sheet2[sheet2.columns[3]] == sheet2[sheet2.columns[3]].max()]

   rand_unique first_name last_name  rand_2000_5000
9           46    Richard   Lincoln            4985

### Task 6

წაიკითხეთ file_example_XLS_1000.xls ფაილიდან მონაცემები, დაბეჭდეთ მონაცემები ID-ის მიხედვით ზრდადობით, იპოვეთ Age-ის მიხედვით საშუალო არითმეტიკული, იპოვეთ საშუალო ასაკი, ასაკების მოდა, მედიანა, ყველაზე მაღალი და ყველაზე დაბალი ასაკის მომხარებელი.

In [264]:
df = pd.read_excel("datasets/file_example_XLSX_1000.xlsx", index_col=0)
df.sort_values(by=['Id'], ascending=False)
print(f"Age mean: {df['Age'].mean()}")
print(f"Age mode: {', '.join(str(m) for m in df['Age'].mode())}")
print(f"Age median: {df['Age'].median()}")
print("Oldest users: ")
print(df[df['Age'] == df['Age'].max()])
print("Youngest users: ")
print(df[df['Age'] == df['Age'].min()])

Age mean: 33.26
Age mode: 26, 28
Age median: 32.0
Oldest users:
    First Name Last Name  Gender        Country  Age        Date    Id
5      Nereida   Magwood  Female  United States   58  16/08/2016  2468
55     Nereida   Magwood  Female  United States   58  16/08/2016  2468
105    Nereida   Magwood  Female  United States   58  16/08/2016  2468
155    Nereida   Magwood  Female  United States   58  16/08/2016  2468
205    Nereida   Magwood  Female  United States   58  16/08/2016  2468
255    Nereida   Magwood  Female  United States   58  16/08/2016  2468
305    Nereida   Magwood  Female  United States   58  16/08/2016  2468
355    Nereida   Magwood  Female  United States   58  16/08/2016  2468
405    Nereida   Magwood  Female  United States   58  16/08/2016  2468
455    Nereida   Magwood  Female  United States   58  16/08/2016  2468
505    Nereida   Magwood  Female  United States   58  16/08/2016  2468
555    Nereida   Magwood  Female  United States   58  16/08/2016  2468
605    Nereida   Magwood  Female  United States   58  16/08/2016  2468
655    Nereida   Magwood  Female  United States   58  16/08/2016  2468
705    Nereida   Magwood  Female  United States   58  16/08/2016  2468
755    Nereida   Magwood  Female  United States   58  16/08/2016  2468
805    Nereida   Magwood  Female  United States   58  16/08/2016  2468
855    Nereida   Magwood  Female  United States   58  16/08/2016  2468
905    Nereida   Magwood  Female  United States   58  16/08/2016  2468
955    Nereida   Magwood  Female  United States   58  16/08/2016  2468
Youngest users:
    First Name Last Name Gender Country  Age        Date    Id
25      Lester   Prothro   Male  France   21  15/10/2017  6574
75      Lester   Prothro   Male  France   21  15/10/2017  6574
125     Lester   Prothro   Male  France   21  15/10/2017  6574
175     Lester   Prothro   Male  France   21  15/10/2017  6574
225     Lester   Prothro   Male  France   21  15/10/2017  6574
275     Lester   Prothro   Male  France   21  15/10/2017  6574
325     Lester   Prothro   Male  France   21  15/10/2017  6574
375     Lester   Prothro   Male  France   21  15/10/2017  6574
425     Lester   Prothro   Male  France   21  15/10/2017  6574
475     Lester   Prothro   Male  France   21  15/10/2017  6574
525     Lester   Prothro   Male  France   21  15/10/2017  6574
575     Lester   Prothro   Male  France   21  15/10/2017  6574
625     Lester   Prothro   Male  France   21  15/10/2017  6574
675     Lester   Prothro   Male  France   21  15/10/2017  6574
725     Lester   Prothro   Male  France   21  15/10/2017  6574
775     Lester   Prothro   Male  France   21  15/10/2017  6574
825     Lester   Prothro   Male  France   21  15/10/2017  6574
875     Lester   Prothro   Male  France   21  15/10/2017  6574
925     Lester   Prothro   Male  France   21  15/10/2017  6574
975     Lester   Prothro   Male  France   21  15/10/2017  6574

### Task 7

წაიკითხეთ staff_1000.xls ფაილიდან მონაცემები გადაწერეთ 30-დან 40 წლამდე პერსონალის მონაცემები ახალ staff_age.xls ფაილში.

In [265]:
staff = pd.read_excel("datasets/staff_1000.xlsx", index_col=0)
staff_age = staff[(30 <= staff['Age']) | (staff['Age'] < 40)]
staff_age.to_excel("datasets/staff_age.xlsx")